<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css design.css">
    <script defer src="../static/JS roomeet.js"></script>
</head>
<body>
        <div class="container">
            <div class="header">
                <p id = "site_name"> Roomeet</p>
                <nav class="nav_bar">
                    <ul>
                        <li><a class = "nav_link" href="./home page.html">Home page</a></li>
                        <li><a class = "nav_link" href="./log_in.html">Log in</a></li>
                        <li><a class = "nav_link" href="./sign_up.html">Sign up</a></li>
                        <li><img src="../img/account-icon.png" alt=""></li>
                    </ul>
                    <ul>
                    </ul>
                </nav>
            </div>



            <div id="welcome">
                <div id="welcome_text">   
                    <h1 id= welcome_header>Welcome to Roomeet</h1>
                    <p id = text_under_header>Ready to make the first step
                                            <br>
                                            and finding the best roomate?
                    </p>
                    <p><button onclick="location.href='./sign_up.html'" id="sign_up_button" >Sign up</button></p>
                    <p><button onclick="location.href='./log_in.html'" id="log_in_button" >Log in</button></p>
                </div>    
            </div>
            <div id = "welcome_left"> 
                <img id="logo" src="../img/image-removebg-preview.png" alt="">
            </div>
            <div id = "welcome_right"></div>





            <div id="vision">
                <div class="column">
                    <div><img class="vision_pic" src="../img/fun.jpeg" alt=""></div>
                    <p>Have Fun together</p>
                </div>
                <div class="column">
                    <img class="vision_pic" src="../img/learning.jpeg" alt="">
                    <p> Learn together</p>
                </div>
                <div class="column">
                    <img id="vision_middle" class="vision_pic" src="../img/playing.jpeg" alt="">
                    <p> Play together</p>
                </div>
            </div>
        </div>
        
</body>
</html>