<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css design.css">
    <script defer src="../static/JS roomeet.js"></script>

</head>
<body>
    <div class="container_login">
        
        <div class="header">
            <p id = "site_name"> Roomeet</p>
            <nav class="nav_bar">
                <ul>
                    <li><a class = "nav_link" href="./home page.html">Home page</a></li>
                    <li><a class = "nav_link" href="./log_in.html">Log in</a></li>
                    <li><a class = "nav_link" href="./sign_up.html">Sign up</a></li>
                    <li><img src="../img/account-icon.png" alt=""></li>
                </ul>
                <ul>
                </ul>
            </nav>
        </div>

        <div class = log_in_page > 
            <div id = log_in_box ><h2 id="login_text">Login</h2>
            <form action="" method="">
                <label for="Email">Email</label><br>
                <input type="email" required id="Email" name="Email"><br> 
                <label for="Password">Password</label><br>
                <input type="password" id="Password" name="Password"><br> <br>
                <input type="submit" id="submit"><br>     
            </form>
            </div>
        </div>

    </div>
</body>
</html>